metare.dtd

<!ELEMENT graphe (noeud*)>

<!ELEMENT noeud (latitude, longitude, batiment, liste_POI, liste_voisins, liste_voisins_PMR)>
<!ATTLIST noeud
          num CDATA
          >

<!ELEMENT latitude (#CDATA)>
<!ELEMENT longitude (#CDATA)>
<!ELEMENT batiment (#CDATA)>
<!ELEMENT liste_POI (POI+)>
<!ELEMENT POI (#CDATA)>
<!ELEMENT liste_voisins (voisin*)>
<!ELEMENT voisin (#CDATA)>
<!ELEMENT liste_voisins_PMR (voisin_PMR*)>
<!ELEMENT voisin_PMR (#CDATA)>
