metare.dtd

<!ELEMENT graphe (noeud*)>

<!ELEMENT noeud (latitude,longitude,batiment,liste_salles*,liste_voisins*)>
<!ATTLIST noeud
          num CDATA
          >

<!ELEMENT latitude (#CDATA)>
<!ELEMENT longitude (#CDATA)>
<!ELEMENT batiment (#CDATA)>
<!ELEMENT liste_salles (salle+)>
<!ELEMENT salle (#CDATA)>
<!ELEMENT liste_voisins (voisin+)>
<!ELEMENT voisin (#CDATA)>
