metare.dtd

<!ELEMENT graphe (noeud*)>

<!ELEMENT noeud (latitude, longitude, batiment, liste_POI+, liste_voisins+)>
<!ATTLIST noeud
          num CDATA
          >

<!ELEMENT latitude (#CDATA)>
<!ELEMENT longitude (#CDATA)>
<!ELEMENT batiment (#CDATA)>
<!ELEMENT liste_POI (POI+)>
<!ELEMENT POI (#CDATA)>
<!ELEMENT liste_voisins (voisin+)>
<!ELEMENT voisin (#CDATA)>
