metare.dtd

<!ELEMENT graphe (noeud+)>

<!ELEMENT noeud (latitude,longitude,batiment,liste_POI,liste_voisins,liste_voisins_PMR)>
<!ATTLIST noeud num CDATA "0">

<!ELEMENT latitude (#PCDATA)>
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT batiment (#PCDATA)>

<!ELEMENT liste_POI (POI)>
<!ELEMENT POI (#PCDATA)>

<!ELEMENT liste_voisins (voisin*)>
<!ELEMENT voisin (#PCDATA)>

<!ELEMENT liste_voisins_PMR (voisin_PMR*)>
<!ELEMENT voisin_PMR (#PCDATA)>
